<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/menager.css">
  <title>Document</title>
</head>

<body>
  <div id="niebieski">
    <a class="a1" href="/">UPLOAD</a>
    <a class="a1" href="filemanager">FILEMANAGER</a>
    <a class="a1" href="info">INFO</a>
  </div>
  {{{body}}}
</body>

</html>