<div id="szary">
  <h1 id="multi">multiupload</h1>
</div>
<div id="bialy">

  <form enctype="multipart/form-data" method="POST" action="/handleUpload">
    <input type="file" id="myFile" name="filename" multiple>
    <input type="submit">
  </form>


</div>